<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Disease Type List</title>
</head>
<body>
<h3>Disease Type List</h3>
{% for d in disease_type %}
    <p>{{ forloop.counter }}. {{ d.id }} - {{ d.get_descriptoin_display }}
        (<a href="{% url 'disease_type_update' d.id %}">Update</a> |
        <a href="{% url 'disease_type_delete' d.id %}">Delete</a>)
    </p>
{% endfor %}

<p> <a href="{% url 'disease_type_create' %}"> + Add A New Disease Type</a></p>
</body>
</html>